
@{
    ViewBag.Title = "AdminInfo";
    Layout = null;
}

<div class="row">


    <h5><span style="letter-spacing: 1px; font-weight: 700; text-transform: uppercase">General Information</span></h5>
</div>

